@tailwind base;
@tailwind components;
@tailwind utilities; 


.mySearch:focus {
    border: 1px solid black !important;
    outline: none !important;
}


.hide-scrollbar {
  -ms-overflow-style: none;  
  scrollbar-width: none;     
}

.hide-scrollbar::-webkit-scrollbar {
  display: none;             
}
